body {
	margin: 0;
	padding:0;
	text-align: center;
	background-image:url(89.jpg);
	background-repeat:none;
	background-size:1200px;
}

.container {
	background:rgba(206,206,206,.5);
	width:100%;
	height:100%;
}

img {
	width:500px;
	margin-top:3vw;
}

span {
	color:rgb(39,175,208);
	font-weight:bold;
}

h1  {
	color:#FFF;
	font-family: gill sans;
	letter-spacing:.5vw;
	font-weight: lighter;
	margin-top:0;

}

input {
	width:300px;
	height:30px;
	padding-left:10px;
	font-size:12px;
	font-family:gill sans;
	font-weight: lighter;
	background:transparent;
	border:1px solid white;
	box-shadow:inset 0 0 0;
	color:#FFF;
	float: left;
}

input::-webkit-input-placeholder {
	color:white;
}


input:focus {
	outline:none;
}
	a  {
		cursor: pointer;
	}

.email-btn a {
	height:15px;
	width:30px;
	font-family:gill sans;
	font-size: 12px;
	background:none;
	text-transform:uppercase;
	color:#fff;
	position:relative;
	border:none;
	overflow: auto;
	text-decoration: none;
}

.email-btn {
	cursor:pointer;
}

.btn {
	float:right;
	display:inline-block;
	position:relative;
	margin-left:2vw;
	box-sizing:border-box;
	padding:13px;
	width:150px;
	height:40px;
}

.btn .bg {
  top:0;
  left:0;
  width:100%;
  height:100%;
  outline:#FFF solid 1px;
  position:absolute;
 }

@keyframes pulse {
	0% {
		transform: scale(1,1);

	}
	100% {
		transform:scale(1.1,1.35);
		opacity:1;
		outline:rgb(39,175,208) solid 1px;
	}
}

.btn:hover .bg {
	 -webkit-animation:pulse 2s infinite alternate;
}

.email-btn:focus {
outline:none;
}

#email {
	margin:3vw;
	display:inline-block;
}

/*  media queries */
@media screen and (max-width: 800px) {

	body {
		text-align: center;
	}

	.container {
		text-align: center;
	}
	img {
		margin-top: 100px;
		width:350px;
	}

	h1{
		font-size: 20px;
	}

	.btn {
		float:none;
		width: auto;
		text-align: center;
		vertical-align: middle;
		padding:14px;

	}

	.email-btn a {
		font-size: 10px;
	}



}

@media screen and (max-width:400px) {
	.btn {
		margin-top:10px;
	}
}
